body {
  background-color: #fdd2e8;
  color: #5a2338;
  background-image: url("assets/heart.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: start;
}

.container {
  padding: 1rem;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

p {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #5a2338;
}

.form-control:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: #fff;
  color: #5a2338;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.btn-outline-light:hover {
  box-shadow: 0 0 15px rgba(194, 66, 164, 0.5);
}

#loginBtn {
  color: #5a2338;
}

label {
  font-family: "Great Vibes", cursive;
  font-size: 1.5rem;
}

.test {
  background-image: url(assets/heart.png);
}

@media (max-width: 768px) {
  body {
    align-items: flex-start !important;
    padding-top: 10vh;
  }
}

#hearts-layer {
  position: fixed;
  inset: 0;
  pointer-events: none; /* doesn't block clicks */
  overflow: hidden;
  z-index: 9999;
}

.heart {
  position: absolute;
  top: -40px;
  font-size: 20px;
  will-change: transform, opacity;
  animation-name: heart-fall, heart-sway;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: 1, infinite;
}

@keyframes heart-fall {
  to {
    transform: translateY(110vh);
    opacity: 0.2;
  }
}

@keyframes heart-sway {
  0%,
  100% {
    margin-left: 0;
  }
  50% {
    margin-left: 25px;
  }
}
