/* * {
  outline: 1px solid red;
} */

body {
  background-color: #ffecf2;
}

h1,
p {
  font-family: "Great Vibes", cursive;
  color: #5a2338;
  font-weight: 600;
}

button {
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  font-family: "Great Vibes", cursive;
  font-size: 1.5rem;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

#yes {
  background: #ff85a2;
  color: #fff;
}

#no {
  background: #fce4ec;
  color: #5a2338;
}

button:hover {
  transform: scale(1.1);
}

.romantic-glow {
  text-shadow:
    0 2px 6px rgba(0, 0, 0, 0.25),
    0 0 14px rgba(255, 182, 193, 0.55),
    /* lightpink glow */ 0 0 30px rgba(255, 105, 180, 0.35); /* hotpink glow */
}
